<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Category Directory</title>

    <style>
    #buttons_container
    {
        text-align:center;
    }
    #update, #delete
    {
        display:inline;
    }
    :root {
        --logo-color: #FF0054;
        --main-color: #B6B9B9;
        --secondary-color: #2D3142;
        --bg-color: #F6E4CB;
    }
    .btn-outline-primary:hover {
        background-color: var(--secondary-color);
    }

    </style>
</head>

<body style="background-color: var(--bg-color)">

<div class="container">

    <h3 style="text-align: center">Category Directory</h3>
    <hr>

    <form class="form-inline">
        <a th:href="@{/categories/showFormForAdd}"
           class="btn btn-primary btn-sm mr-5 mb-3"
        style="background-color: var(--logo-color); border-color: var(--logo-color)">
            Add Category
        </a>
    </form>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th style="background-color: var(--secondary-color)">Category</th>
            <th style="background-color: var(--secondary-color)">Action</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempCategory : ${categories}">

            <td th:text="${tempCategory.name}" />

            <td>
                <div id="buttons_container">
                    <div id="update" sec:authorize="hasAnyRole('ROLE_POWER_USER', 'ROLE_ADMIN_USER')">
                        <!-- Add "update" button/link -->
                        <a th:href="@{/categories/showFormForUpdate(categoryId=${tempCategory.id})}"
                           class="btn btn-info btn-sm"
                           style="font-weight: bold; border: none; width: 64px; background-color: var(--main-color)">
                            Update
                        </a>
                    </div>

                    <div id="delete" sec:authorize="hasRole('ROLE_ADMIN_USER')">
                        <!-- Add "delete" button/link -->
                        <a th:href="@{/categories/delete(categoryId=${tempCategory.id})}"
                           class="btn btn-danger btn-sm"
                           onclick="if (!(confirm('Are you sure you want to delete this category?'))) return false"
                           style="font-weight: bold; border: none; width: 64px; background-color: var(--logo-color)">
                            Delete
                        </a>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- Add a logout button -->
    <form action="#" th:action="@{/logout}"
          method="POST">
        <input type="submit" value="Logout" class="btn btn-outline-primary mt-2"
               style="border-color: var(--logo-color); color: var(--logo-color)"/>
    </form><br><hr><br>
    <div>
        User: <span sec:authentication="name"></span>
        <br>
        Role(s): <span sec:authentication="principal.authorities"></span>
        <br><br>
    </div>
    <a th:href="@{/questions/list}">Back to Question List</a>
</div>


</body>
</html>
